extends ../../layouts/_section.pug

block mixins
    mixin tag(name, attr, val, color)
        if attr && val
            span.tag &lt;#{name} #{attr}=&quot;
                |
                i(style="font-size: 12px", class="fa-" + val).fa
                |&quot;&gt;
        else
            span.tag &lt;#{name}&gt;

    mixin cert(title, link)
        li
            i.fa.fa-certificate
            | 
            a(href=docs + link + ".pdf").link #{title.toLowerCase()}

block content
     section#publications
        +tag("certifications", "class", "certificate")
        ol.list
            +cert("Hackers-Exposed-Certificate-Of-Completion", "Volume1-496")
        +tag("/certifications")