extends ../../layouts/_section.pug

block mixins
    mixin tag(name, attr, val)
        if attr && val
            span.tag &lt;#{name} #{attr}=&quot;#{val}&quot;&gt;
        else
            span.tag &lt;#{name}&gt;
            
    mixin link(title, desc, link, faClassName)
        li
            i(class=faClassName).fa
            | 
            a(href=link).link #{title.toLowerCase()}
            | 
            span (#{desc.toLowerCase()})

block variables

block content
    section#downloadables
        +tag("downloadables", "class", "recently-added")
        ol.list
            +link("résumé", "Nicholas Adamou's Résumé", docs + "nicholas-adamou-resume.pdf", "fa-file-text-o")
        +tag("/downloadables")