extends ../../layouts/_section.pug

block mixins
    mixin job(faClassName, title, link, loc)
        div
            i(class=faClassName).fa
            | 
            span(style="font-style: italic") #{title.toLowerCase()}
            | 
            span @ 
                |
                a(href=link).link #{loc.toLowerCase()}

    mixin hd-itm(faClassName, id, title)
        p
            i(class=faClassName style="color: #333;").fa
            | 
            span #{id} 
            | (#{title})

block content
    header#header
        +tag("Developer", "id", "about-me")
        .header__logo
        h1#header__name {nicholas\ adamou}
        +hd-itm("fa-id-badge", "4d4m0u", "moniker")
        +hd-itm("fa-compass", "127.0.0.1", "loc")
        p
            i.fa.fa-key
            | 
            a(href="https://keybase.io/nicholasadamou/pgp_keys.asc?fingerprint=4e8e5009ec1173d2383b7e0c2760cbcc542f5b54").link 2760 CBCC 542F 5B54
            |  (pgb-key)
        +job("fa-graduation-cap", "computer science major", "http://hartwick.edu", "hartwick college")
        +job("fa-building", "computer science intern", "http://www.granet.net/", "granet & associates")
        p 
            | 
            i(style="color: #333;").fa.fa-graduation-cap
            |  student by day. | 
            i(style="color: #333;").fa.fa-bolt
            |  developer by night.
        p(style="font-style: italic") 
            i.fa.fa-quote-left
            |  "Good code is its own best documentation."
        +link("résumé", "Nicholas Adamou's Résumé", docs + "nicholas-adamou-resume.pdf", "fa-file-text-o")
        +tag("/Developer")
