extends ../../layouts/_section.pug

block mixins
    mixin job(faClassName, title, link, loc)
        div
            i(class=faClassName)
            | 
            span(style="font-style: italic") #{title.toLowerCase()}
            | 
            span @ 
                |
                a(href=link).link #{loc.toLowerCase()}

    mixin hd-itm(faClassName, id, title)
        p
            i(class=faClassName style="color: #333;")
            | 
            span #{id} 
            | (#{title})

block content
    header#header
        +tag("Developer")
        .header__logo
        h1#header__name nicholas adamou
        +hd-itm("fas fa-compass", "172.26.65.33:3000", "loc")
        p
            i.fas.fa-key
            | 
            a(href="https://keybase.io/nicholasadamou/pgp_keys.asc?fingerprint=4e8e5009ec1173d2383b7e0c2760cbcc542f5b54").link 2760 CBCC 542F 5B54
            |  (pgb-key)
        +job("fas fa-graduation-cap", "computer science major", "http://hartwick.edu", "hartwick college")
        +job("fas fa-building", "computer science intern", "http://www.granet.net/", "granet & associates")
        p(style="font-style: italic") 
            i.fas.fa-quote-left
            |  "Good code is its own best documentation."
        +link("résumé", "Nicholas Adamou's Résumé", docs + "nicholas-adamou-resume.pdf", "fas fa-file-word")
        +tag("/Developer")
