extends ../../layouts/_section.pug

block mixins
    mixin tag(name, attr, val)
            if attr && val
                span.tag &lt;#{name} #{attr}=&quot;#{val}&quot;&gt;
            else
                span.tag &lt;#{name}&gt;

    mixin name(first, last) 
        h1#header__name {#{first.toLowerCase()}\ #{last.toLowerCase()}}

    mixin hd-itm(faClassName, id, title)
        p
            i(class=faClassName style="color: #333;").fa
            | 
            span.title #{id} 
            | (#{title})

    mixin link(title, desc, link, faClassName)
        div
            i(class=faClassName).fa
            | 
            a(href=link).link #{title.toLowerCase()}
            | 
            span (#{desc.toLowerCase()})


block content
    header#header
        +tag("Developer", "id", "about-me")
        .header__logo
        +name("nicholas", "adamou")
        +hd-itm("fa-id-badge", "4d4m0u", "moniker")
        +hd-itm("fa-location-arrow", "127.0.0.1", "loc")
        p
            i.fa.fa-key
            | 
            a(href="https://keybase.io/nicholasadamou/pgp_keys.asc?fingerprint=4e8e5009ec1173d2383b7e0c2760cbcc542f5b54").link 2760 CBCC 542F 5B54
            |  (pgb-key)
        +link("Computer Science Intern", "@ Granet & Associates", "http://www.granet.net/", "fa-building")
        p 
            | 
            i(style="color: #333;").fa.fa-graduation-cap
            |  student by day. | 
            i(style="color: #333;").fa.fa-bolt
            |  developer by night.
        p(style="font-style: italic") 
            i.fa.fa-quote-left
            |  "Good code is its own best documentation."
        +link("résumé", "Nicholas Adamou's Résumé", docs + "nicholas-adamou-resume.pdf", "fa-file-text-o")
        +tag("/Developer")
