- var white = "#fafafa"
- var black = "#212121"
- var grey = "#F5F5F5"
- var blue = "#212856"

mixin work(link, image, alt, color, desc)
    li(style="background-color: " + color + ";" class=alt).work-itm
        a(href=link)
            img(data-src="assets/images/logos/" + image, alt=alt).lazy
        h3 #{desc}

section#work.hero.is-widescreen
    ul
        +work("http://cutpastecopy.github.io/", "cpc_logo.png", "cpc", `${white}`, "HTML5, CSS3, JavaScript, Responsive.")
        +work("http://advancedelectricalservicesinc.com/", "aes_logo.png", "advanced-electrical-services", `${blue}`, "HTML5, CSS3, JavaScript, Responsive.")
        +work("http://bphong.github.io/", "bphong_logo.png", "bphong", `${black}`, "HTML5, CSS3, JavaScript, Responsive.")
        +work("https://github.com/nicholasadamou/Starter-Kit", "starter-kit.gif", "starter-kit", `${grey}`, "Responsive boilerplate to kickstart any responsive project.")
        +work("https://github.com/nicholasadamou/dotfiles", "dotfiles.png", "dotfiles", `${white}`, "$HOME sweet ~/")
        +work("https://github.com/nicholasadamou/Mack-Media-Group-Internship-Project", "mack-logo.png", "mack-media-group", `${grey}`, "Mack Media Group ⚡ Internship Project.")