- var white = "#fafafa"
- var black = "black"
- var grey = "#F5F5F5"
- var blue = "#212856"

mixin work(link, image, alt, color, desc)
	li(style="background-color: " + color + ";" class=alt).work-itm
		a(href=link)
			img(data-src="assets/images/logos/" + image, alt=alt).lazy
		h4 #{desc}

section#work.hero.is-widescreen
	ul
		+work("http://cutpastecopy.github.io/", "cpc_logo.png", "cpc", `${white}`, "A student run graphic design agancy based in New Milford, CT.")
		+work("http://advancedelectricalservicesinc.com/", "aes_logo.png", "advanced-electrical-services", `${blue}`, "Your friendly, local electrican expert.")
		+work("https://github.com/nicholasadamou/Mack-Media-Group-Internship-Project", "mack-logo.png", "mack-media-group", `${white}`, "Mack Media Group ⚡ Internship Project.")
		+work("https://github.com/nicholasadamou/Starter-Kit", "starter-kit.gif", "starter-kit", `${white}`, "Responsive boilerplate to kickstart any responsive project.")
		+work("https://github.com/nicholasadamou/dotfiles", "dotfiles.png", "dotfiles", `${white}`, "$HOME sweet ~/")
		+work("https://github.com/nicholasadamou/isitup", "isitup.png", "isitup", `${white}`, "A simple web application to check whether a site is 🆙 or broken.")
		+work("https://github.com/nicholasadamou/cf-detect", "cf-detect.png", "cf-detect", `${white}`, "A simple web application to check whether a site is running behind Cloudflare.")
		+work("https://github.com/nicholasadamou/lynx", "lynx.png", "lynx", "#51ACFB", "A shell script to bootstrap a Linux computer into a development machine.")
		+work("https://github.com/nicholasadamou/OnionPi", "onion-pi.png", "onion-pi", "#88655B", "Configures your Raspberry Pi as portable WiFi-WiFi Tor proxy.")
		+work("https://github.com/nicholasadamou/AnyFi", "anyfi.gif", "anyfi", "white", "Configure your Raspberry Pi as a wireless access point and to connect to any OPEN WiFi access point.")
		+work("https://github.com/nicholasadamou/vs-code-setup", "vscode_light_dark.png", "vs-code-setup", "#F7FAFC", "Nicholas Adamou's Visual Studio Code developer setup.")
		+work("https://github.com/nicholasadamou/sublime-text-setup", "sublime-text.png", "sublime-text-setup", "#E16A3F", "Nicholas Adamou's Sublime Text developer setup.")
