- var title = "Nicholas Adamou - Full Stack Web Developer Portfolio"
- var description = "Nicholas Adamou - He is a 🔨 developer, and ❤️ open source contributor. 👍"
- var author = "Nicholas Adamou"
- var tags = "developer, nicholas-adamou, sass, jade, gulp, scss, full-stack-developer, maker, designer"
- var assets = 'assets/'
- var css = assets + 'css/'
- var favicons = images + 'favicons/'

doctype html
html(lang='en')
	head
		//- Basic Page Needs
		title #{title}
		meta(charset="utf-8")
		meta(name="title" content=title)
		meta(name="description" content=description)
		meta(name="author" content=author)
		meta(name="tags" content=tags)
		link(rel="canonical" href="https://nicholasadamou.com")

		//- Mobile Specific Meta
		meta(name="viewport" content="width=device-width")

		//- Auto-Refresh
		meta(http-equiv="refresh" content="2; URL=/")

		//[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]

		//- CSS
		case env
			when "development"
				link(href=css + "index.css", rel="stylesheet")
			when "production"
				link(href=css + "index.min.css", rel="stylesheet")

		//- Favicon
		link(rel='apple-touch-icon-precomposed' sizes='57x57' href=favicons + 'apple-touch-icon-57x57.png')
		link(rel='apple-touch-icon-precomposed' sizes='114x114' href=favicons + 'apple-touch-icon-114x114.png')
		link(rel='apple-touch-icon-precomposed' sizes='72x72' href=favicons + 'apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon-precomposed' sizes='144x144' href=favicons + 'apple-touch-icon-144x144.png')
		link(rel='apple-touch-icon-precomposed' sizes='60x60' href=favicons + 'apple-touch-icon-60x60.png')
		link(rel='apple-touch-icon-precomposed' sizes='120x120' href=favicons + 'apple-touch-icon-120x120.png')
		link(rel='apple-touch-icon-precomposed' sizes='76x76' href=favicons + 'apple-touch-icon-76x76.png')
		link(rel='apple-touch-icon-precomposed' sizes='152x152' href=favicons + 'apple-touch-icon-152x152.png')
		link(rel='icon' type='image/png' href=favicons + 'favicon-196x196.png' sizes='196x196')
		link(rel='icon' type='image/png' href=favicons + 'favicon-96x96.png' sizes='96x96')
		link(rel='icon' type='image/png' href=favicons + 'favicon-32x32.png' sizes='32x32')
		link(rel='icon' type='image/png' href=favicons + 'favicon-16x16.png' sizes='16x16')
		link(rel='icon' type='image/png' href=favicons + 'favicon-128.png' sizes='128x128')
		meta(name='application-name' content='&nbsp;')
		meta(name='msapplication-TileColor' content='#FFFFFF')
		meta(name='msapplication-TileImage' content=favicons + 'mstile-144x144.png')
		meta(name='msapplication-square70x70logo' content=favicons + 'mstile-70x70.png')
		meta(name='msapplication-square150x150logo' content=favicons + 'mstile-150x150.png')
		meta(name='msapplication-wide310x150logo' content=favicons + 'mstile-310x150.png')
		meta(name='msapplication-square310x310logo' content=favicons + 'mstile-310x310.png')
	body.animated.fadeIn
		section#form-success.hero.is-fullheight.is-widescreen
			.hero-body
				.container
					h1.header Form Submitted successfully!
						| 
						i.far.fa-thumbs-up
					p.desc Please wait while we return you to 
						em nicholasadamou.com
		script(defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")
