//- Global Variables
- var assets = 'assets/'
- var css = assets + 'css/'
- var js = assets + 'js/'
- var images = assets + 'images/'
- var favicons = images + 'favicons/'
- var docs = assets + 'docs/'

//- Global Mixins
mixin tag(name, attr, val)
	if attr && val
		span.tag &lt;#{name} #{attr}=&quot;#{val}&quot;&gt;
	else
		span.tag &lt;#{name}&gt;

mixin link(title, desc, link, faClassName)
	div
		i(class=faClassName).fa
		| 
		a(href=link).link #{title.toLowerCase()}
		| 
		span (#{desc.toLowerCase()})

//- Local Mixins
block mixins

block content